.container{
    /* height:1500px; */
  background-color: #fdce57;
      margin: auto;
  width: 50%;
  padding: 10px;
  }


.heading{
	float:left;
        width:50%;
    	text-align: left;
    	  color: white;
}

.heading h3{
	  font-size: 3.5em;

}

.googleButton{
	margin-top: 15%;
	width: 25%
}

.heading {
	padding-top: 10%;
	width: 500px;
}

.App1 {
	width: 35%;
	padding-bottom: 5%;
}

.banana img{
	width: 20%;
	padding-bottom: 4%;
}



