.home {
  height:100%;
}

.home .grid-container-home {
  display: grid;
  grid-template-columns: 50% 50% ;
  background-color: #fdce57;
  height:20%;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.1);
}

.home .grid-container-home .grid-item {
  padding: 35px;
  font-size: 40px;
  text-align: center;
  background-color: #fdce57;
}

.home .grid-container-home :hover{
  transition: all 0.2s;
  background-color: #ffe187;
}

.home .grid-container-home .grid-item img{
  height: 60px;
}

.home .grid-container-home .grid-item h2{
  display:inline-block;
  font-size: 50px;
  margin: 0px 10px 0px 0px;
  vertical-align:middle;
}

.home h1{
  text-align: center;
  line-height: 100px;
  font-size: 80px;
  margin-top:20px;
  margin-bottom:10px;
}

.home .banana {
  border-top: 10px solid #343a40;
  border-bottom: 10px solid #343a40;
  box-sizing: border-box;
  margin-top:50px;
  height:176px;
  background-color: #fbb9c5;
}

.home .banana img{
  display:block;
  margin:3px auto;
  height:150px;
}
