.formDefinitions, .formInputs{
  display: inline-block;
  margin-top: 100px;
}

.formInputs{
  padding-right: 200px;
}

.definitions{
  display:block;
  width: 200px;
  margin: 0px;
  text-align: right;
  height: 30px;
  margin-bottom: 10px;
  padding-right: 20px;
}

.input{
  display:block;
  height: 30px;
  width: 200px;
  margin-bottom :10px;
}

.form{
  display:inline;
}
