.formDefinitions, .formInputs{
  display: inline-block;
  margin-top: 1%;
}

.formInputs{
  padding-right: 200px;
}

.definitions{
  display:block;
  width: 200px;
  margin: 0px;
  text-align: right;
  height: 30px;
  margin-bottom: 10px;
  padding-right: 20px;
}

.input{
  display:block;
  height: 30px;
  width: 200px;
  margin-bottom :10px;
}

.catagory{
  display:inline-block;
}

form{
  text-align: center;
  margin-bottom: 100px;
}

input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}


html {
  font-size: 15px;
}

.makepost{
  padding-top: 20%;
  margin-right: 50%;
}