
button{
     background:#F1C40F;
    border-radius: 5px;
    border-width: thick;
    border-color: black;
    border-color:#F1C40F;
    width: 20%;

}


.message_sender {
    margin: 5px 0;

}

.message_receiver {
    margin: 5px 0;
    clear:both;
    text-align:right;

}

.message_receiver::after {
    clear:both;

}

/*.chats {
padding: 10px;
margin-left: 50%;
text-align: right;

}*/
h1 {

    text-align: right;
        font-size: 35px;

}


/*.chats:hover {
  text-decoration: underline;
}
.chats .chat_text {

    color: black;
    display: block;
    padding: 5px 5px;
    font-size: 30px;

}*/

.message .message-text {
    background: #9B59B6 ;
    color: white;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 15px;
}

.message_receiver .receiver_message-text {
    background: #3399FF;
    color: white;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 15px;
}




.message-list {
    box-sizing: border-box;
    padding: 6px;
    width: 100%;
    /* max-width: 80%; */
    height: 500px;
    overflow-y: scroll;
    background: #EEEEEE;
    text-align: left;



    border-radius: 10px;

}
.InputBox {
    background: #F7DC6F  ;
    display: flex;
    border-radius: 10px;
    border-style: solid;
    border-color:#34495E;

    padding-left: 6px;
    height: 100%;
    overflow: auto;
}

.InputBox input {
    width: 100%;
    border-style: none;
    background:#F7DC6F;
    font-weight: 200;

}


.InputBox input:focus {
    outline-width: 0;

}



.help-text {
    position: absolute;
    top: 10px;
}

.chat{
    width: 80%;
}

.grid-container {
    background: #34495E;
    padding-top: 20px;
    padding-left: 5%;
    display: grid;
    grid-template-columns: 500px auto;
    background-color: #fdce57;
    height:20%;
}

body {
  height:100%;
  background-color: #fdce57;
}

.grid-item2 {
  background: #34495E;
  font-size: 30px;
  text-align: left;
}



.grid-item2 {
  padding: 35px;
  font-size: 30px;
  text-align: center;
  background-color: #fdce57;

  top: -10px;



}

.grid-item2{
    color:black;

}


.grid-item2 img{
    color:black;
    width: 50%;

    padding-bottom: 5px;

}


.wideButton {
    width: auto;
    float:right;
}


.wideButton::after{
    clear:both;
}

.chatListItem{
    background: #ffe4a0;
    border: 5px solid white;
    box-shadow: -8px 4px rgba(0,0,0,0.2);
    overflow: auto;
    padding: 10px;
}

.chatListItem:hover{
    cursor:pointer;
    background: #ffdb7c;
    box-shadow: -6px 3px rgba(0,0,0,0.4);
    transform: scale(0.995, 0.995);
}

.chatTitle{
    font-size: 150%;
}

.chatDeleteIcon{
    float:right;
}


.chatDeleteIcon::after{
    clear:both;
}

.chatUserList {
    width: auto;
}
