
button{
     background:#F1C40F;
    border-radius: 5px;
    border-width: thick;
    border-color: black;
    border-color:#F1C40F;
    width: 20%;

}
.message-list {

    width: 50%;
}

.message_sender {
    margin: 20px 0;

}

.message_receiver {
    margin: 20px 0;
    float:right;

}

.message_receiver::after {
    clear:both;

}

.chats {
padding: 10px;
margin-left: 50%;
text-align: right;

}
h1 {

    text-align: right;
        font-size: 35px;

}


.chats:hover {
  text-decoration: underline;
}
.chats .chat_text {

    color: black;
    display: inline;
    padding: 5px 5px;
    font-size: 30px;

}

.message .message-text {
    background: #9B59B6 ;
    color: white;
    display: inline;
    padding: 4px 8px;
    border-radius: 15px;
}

.message_receiver .receiver_message-text {
    background: #3399FF;
    color: white;
    display: inline;
    padding: 4px 8px;
    border-radius: 15px;
    /* float: right; */
}

.message_receiver::after .receiver_message-text::after {
    clear:both;
}


.message-list {
    box-sizing: border-box;
    padding-left: 6px;
    width: 100%;
    height: 500px;
    overflow: scroll;
    background: #EEEEEE;
    text-align: left;



    border-radius: 10px;

}
.InputBox {
    background: #F7DC6F  ;
    display: flex;
    border-radius: 10px;
    border-style: solid;
    border-color:#34495E;

    padding-left: 6px;
    height: 100%;
    overflow: scroll;
}

.InputBox input {
    width: 100%;
    border-style: none;
    background:#F7DC6F;
    font-weight: 200;

}


.InputBox input:focus {
    outline-width: 0;

}



.help-text {
    position: absolute;
    top: 10px;
}

.chat{
    width: 80%;
}

.grid-container {
    background: #34495E;
    padding-top: 20px;
    padding-left: 5%;
    display: grid;
    grid-template-columns: auto auto;
    padding-bottom: 400px;
}
.grid-item {
        background: #34495E;
  font-size: 30px;
  text-align: left;
}


.wideButton {
    width: auto;
    float:right;
}


.wideButton::after{
    clear:both;
}

.chatListItem{
    background: #ffe4a0;
    border: 5px solid white;
    box-shadow: -8px 4px rgba(0,0,0,0.2);
    overflow: auto;
    padding: 10px;
}
  
.chatListItem:hover{
    cursor:pointer;
    background: #ffdb7c;
    box-shadow: -6px 3px rgba(0,0,0,0.4);
    transform: scale(0.995, 0.995);
}

.chatTitle{
    font-size: 150%;
}

.chatDeleteIcon{
    float:right;
}


.chatDeleteIcon::after{
    clear:both;
}

