.grid-container {
  display: grid;
  grid-template-columns: auto auto ;
  padding: 2%;
}
.grid-item {
  padding: 35px;
  font-size: 30px;
  text-align: center;
}

.App1 img {
  object-fit: cover;
  width: 100%;
}

.grid-item{
    color:black;
}


.grid-item img{
    color:black;
    width: 30px;

   	padding-bottom: 5px;
}
.grid-item:hover{
    color:grey;
}