.grid-container {
  display: grid;
  grid-template-columns: auto auto ;
  padding: 2%;
    background-color: #fdce57;
        height:20%;
          box-shadow: 0px 0 10px rgba(0, 0, 0, 0.1);

}
.grid-item {
  padding: 35px;
  font-size: 40px;
  text-align: center;
  background-color: #fdce57;

  top: -10px;



}

.App1 img {
  object-fit: cover;
  width: 50%;
}

.App2 img {
  object-fit: cover;
  margin-top: 10%;
  width: 50%;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;


}
.App2{
  padding-left: 30%;
}
.grid-item{
    color:black;

}


.grid-item img{
    color:black;
    width: 10%;

   	padding-bottom: 5px;

}
.grid-item:hover{
        filter: blur(2px);

}


.grid-item {
        background: #34495E;
  font-size: 30px;
  text-align: left;
}


.grid-item {
  padding: 35px;
  font-size: 40px;
  text-align: center;
  background-color: #fdce57;

  top: -10px;



}

.inner{
  background-color: #fdce57;
  height: 1500px;
  color: black;
}

.homeContainer h1{
  padding-top: 5%;
padding-right: 90%;
}

.App1{
width: 100%;
}
