.topFix {
    margin: 80px;
    background: #ffe4a0;
    box-shadow: -5px 2px rgba(0,0,0,0.2);
    /* background-color: #61d0fc; */
}
  
.editForm textArea{
    width: auto;
}

.centerFix {
    text-align: center;
}

.DeleterefineItem{
    margin-left: 100px;
    background-color: #61d0fc;
    padding: 15px 15px;
    border-radius: 10px;
    filter: invert(100%);
}

#btn{
    margin: 20px;
}
#btn2{
    background-color: brown;
}