.chatListItem{
    background: #ffe4a0;
    border: 5px solid white;
    box-shadow: -8px 4px rgba(0,0,0,0.2);
    overflow: auto;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 60px;
}

.chatListItem:hover{
    cursor:pointer;
    background: #ffdb7c;
    box-shadow: -6px 3px rgba(0,0,0,0.4);
    transform: scale(0.995, 0.995);
}

.chatDeleteIcon{
    float:right;
    height:60px;
}
