.posting{
  background: #ffe4a0;
  border: 5px solid white;
  box-shadow: -8px 4px rgba(0,0,0,0.2);
  margin-bottom: 10px;
}

.posting:hover{
  cursor:pointer;
  background: #ffdb7c;
  box-shadow: -6px 3px rgba(0,0,0,0.4);
  transform: scale(0.995, 0.995);
}

.posting img{
  height: 50px;
  margin: 10px 10px 10px 0px;
}

.posting .postTitle{
  font-size: 150%;
}

.posting .postSeller{
  font-style: italic;
}

.posting .postPrice{
  font-weight: bolder;
  float: right;
}
