.product {
  margin: 80px;
  background: #ffe4a0;
  border: 5px solid white;
  box-shadow: -5px 2px rgba(0,0,0,0.2);
  padding: 50px;
  /* background-color: #61d0fc; */
}

.product .marketTitle{
  text-align: center;
}

.product .postCategory{
  font-weight: bolder;
}

.product .postDescription{

}

.product .postDescription .postImages{
  max-height: 200px;
  margin: 10px 10px 0px 0px;
}

.product .postPrice{
  font-weight: bolder;
  text-align:right;
  clear:both;
}

.product .postSeller{
  font-style: italic;
}

.product .containerbuttons{
  margin-top:20px;
  height:50px;
}

.product .containerbuttons .btn-dark{
  height:50px;
  width: 200px;
  margin-right:10px;
}

.product .containerbuttons .editBtn, .deleteBtn{
  float:right;
}

.product .cancel .cancel{
  display:block;
  margin:auto;
  border: none;
  width: 100px;
  height:35px;
}

.product form{
  margin-bottom: 20px;
}

.product .containerbuttons .editBtn:hover{
    filter: brightness(95%) contrast(93%);
}

.product .containerbuttons .deleteBtn:hover{
    filter: brightness(95%) contrast(93%);
}
